{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Curso de Python: python.pro.br
				</h2>
				<h4 class="mt-4">Matrículas Abertas! Custo R$1.000,00</h4>
				<!-- INICIO DO BOTAO PAGSEGURO -->
				<a href="https://pag.ae/7W6scK1Ko/button" target="_blank" title="Pagar com PagSeguro"><img
					src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif"
					alt="Pague com PagSeguro - é rápido, grátis e seguro!"/>
				</a>
				<!-- FIM DO BOTAO PAGSEGURO -->

<!--				<h4 class="mt-4">Entre na fila de espera</h4>

				<form action="https://bemcriadodesign.us10.list-manage.com/subscribe/post?u=e8c3d93fa2ec2e3f07a59e428&amp;id=3069d8cac0"
						  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
						  class="validate" target="_blank" novalidate>
					<div class="form-row align-items-center">
						<div class="col-auto">
							<label class="sr-only" for="mce-EMAIL">Email</label>
							<input type="email" value="" name="EMAIL" class="form-control  required" id="mce-EMAIL" placeholder="exemplo@email.com">
						</div>
						<div class="col-auto">
							<label class="sr-only" for="mce-FNAME">Email</label>
							<input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Seu Nome">
						</div>

-->						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<!--							<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
																									  name="b_e8c3d93fa2ec2e3f07a59e428_3069d8cac0"
																									  tabindex="-1"
																									  value=""></div>

						<div class="col-auto">
							<input type="submit" value="Salvar" name="subscribe"
													  id="mc-embedded-subscribe" class="btn btn-primary">
						</div>
					</div>
				</form>
-->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<h5 class="card-header">
					Mais informações sobre o aluno:
				</h5>
				<div class="card-body">
					<p class="card-text">
						<img src="{% static 'img/Foto.png' %}" alt="Foto de Ivan Silva"
							 class="img-thumbnail float-left mr-3"/>
						Graduado em Engenharia Eletrônica e de Telecomunicações pela PUC-MG em 2010.
						Pós-Graduado em Sistemas Eletroeletrônicos e Automação Industrial pelo CEFET-MG em 2015.
						Com experiência em desenvolvimento de sistemas embarcados, eletrônica, programação em C,
						Automação Industrial, projetos RF, testes e Internet das Coisas.
						<p>
							Confira o currículo completo desse aluno em:<a
						    href="https://www.linkedin.com/in/ivan-paulo-silva" target="_blank"> @Linkedin</a>
						</p>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}